<div class="card" >
    
    <div class="content">
        <img class="imgurl" style="background-image:url(https://source.unsplash.com/random)" >
      <a href=""><i class="fa fa-cart-plus"></i></a>      
    </div>
      <div class="card-body">

        <p class="name">{{products.name}}</p>
        <p class="desc">{{products.desc}}</p>
        <h5 class="price">{{products.price}}</h5>
        <h5 class="rating">{{products.rating}}</h5>
      
      </div>
  <div class="buynow">
      <div class="bubble">Buy Now</div>
      <div class="pointer"></div>
  </div>
  
  <!--<div class="soldout">
      <div class="bubble">Sold Out</div>
      <div class="pointer"></div>
  </div>-->
    
   
  </div>
  