<div class="container"><h1>Shopping Cart</h1>
<div class="row">
<div class="col-10">
  <p>
      <button class="btn btn-light btn-sm">Clear all items </button>
  </p>
<table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th class="text-center" style="width:230px">Quantity</th>
            <th class="text-right" style="width:200px">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <div class="thumbnail" ></div>
            </td>           
            <td>
                Product1
            </td>
          </tr>
         
        </tbody>
      </table>
      <div class="row no-gutters">
          <a routerLink="/check-out" class="btn btn-primary">Check out</a>
      </div>
      </div>
    </div>  </div>  